@tailwind base;
@tailwind components;
@tailwind utilities;


    @layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
 /* .LogoFont {
    font-family: "Rubik Doodle Triangles", system-ui;
  } */


  .container{
    @apply max-w-[1024px] mx-auto
  }
}
.torn-bottom {
   mask-size: cover;
   mask-repeat: no-repeat;
   mask-position: bottom;
 }
